<p>
  preparazione works!
</p>
<div (click)="onDivClick(ObjectID.preparazioneChild1)"
     (mouseover)="onDivMouseOver(ObjectID.preparazioneChild1)"> div 1</div>
<div (click)="onDivClick(ObjectID.preparazioneChild2)"
     (mouseover)="onDivMouseOver(ObjectID.preparazioneChild2)"> div 2</div>
<div (click)="onDivClick(ObjectID.preparazioneChild3)"
     (mouseover)="onDivMouseOver(ObjectID.preparazioneChild3)"> div 3</div>
<div (click)="onDivClick(ObjectID.preparazioneChild4)"
     (mouseover)="onDivMouseOver(ObjectID.preparazioneChild4)"> div 4</div>
<div (click)="onDivClick(ObjectID.preparazioneChild5)"
     (mouseover)="onDivMouseOver(ObjectID.preparazioneChild5)"> div 5</div>
