<div (click)="onDivClick(ObjectID.finituraChild1)"
     (mouseover)="onDivMouseOver(ObjectID.finituraChild1)"> div 1</div>
<div (click)="onDivClick(ObjectID.finituraChild2)"
     (mouseover)="onDivMouseOver(ObjectID.finituraChild2)"> div 2</div>
<div (click)="onDivClick(ObjectID.finituraChild3)"
     (mouseover)="onDivMouseOver(ObjectID.finituraChild3)"> div 3</div>
<div (click)="onDivClick(ObjectID.finituraChild4)"
     (mouseover)="onDivMouseOver(ObjectID.finituraChild4)"> div 4</div>
<div (click)="onDivClick(ObjectID.finituraChild5)"
     (mouseover)="onDivMouseOver(ObjectID.finituraChild5)"> div 5</div>
