.button {
  border: none;
  height: 45px;
  width: 150px;
  background-color: lightskyblue;
  cursor: pointer;
  border-radius: 5px;
}

.button p {
  text-align: center;
  color: #fcfcfc;
  padding: 0;
  margin-top: 13px;
}

.active {
  background-color: lightskyblue;
}

.none {
  background-color: aliceblue;
}
