<p>
  lavorazione works!
</p>
<div (click)="onDivClick(ObjectID.lavorazioneChild1)"
     (mouseover)="onDivMouseOver(ObjectID.lavorazioneChild1)"> div 1</div>
<div (click)="onDivClick(ObjectID.lavorazioneChild2)"
     (mouseover)="onDivMouseOver(ObjectID.lavorazioneChild2)"> div 2</div>
<div (click)="onDivClick(ObjectID.lavorazioneChild3)"
     (mouseover)="onDivMouseOver(ObjectID.lavorazioneChild3)"> div 3</div>
<div (click)="onDivClick(ObjectID.lavorazioneChild4)"
     (mouseover)="onDivMouseOver(ObjectID.lavorazioneChild4)"> div 4</div>
<div (click)="onDivClick(ObjectID.lavorazioneChild5)"
     (mouseover)="onDivMouseOver(ObjectID.lavorazioneChild5)"> div 5</div>
