<div class="container">
  <!--<div [ngClass]="{'deactive': !btnLeanState, 'backGreen': btnLeanState}" class="button marginTop" (click)="onLean()"
       (mouseover)="onLeanOver()"><p>LEAN</p>
  </div>

  <div [ngClass]="{'deactive': !btnDigitalState, 'backRed': btnDigitalState}" class="button marginTop backRed" (click)="onDigital()"
       (mouseover)="onDigitalOver()"><p>DIGITAL</p>
  </div>
-->
  <p>LEAN</p>
  <label class="switch">
    <input (click)="onLean()"
           (mouseover)="onLeanOver()" type="checkbox">
    <span class="slider round one"></span>
  </label>
  <p>DIGITAL</p>
  <label class="switch">
    <input (click)="onDigital()"
           (mouseover)="onDigitalOver()" type="checkbox">
    <span class="slider round two"></span>
  </label>
</div>
