<p>
  piantina works!
</p>
<div (click)="onDivClick(ObjectID.piantinaChild1)"
     (mouseover)="onDivMouseOver(ObjectID.piantinaChild1)"> div 1</div>
<div (click)="onDivClick(ObjectID.piantinaChild2)"
     (mouseover)="onDivMouseOver(ObjectID.piantinaChild2)"> div 2</div>
<div (click)="onDivClick(ObjectID.piantinaChild3)"
     (mouseover)="onDivMouseOver(ObjectID.piantinaChild3)"> div 3</div>
<div (click)="onDivClick(ObjectID.piantinaChild4)"
     (mouseover)="onDivMouseOver(ObjectID.piantinaChild4)"> div 4</div>
<div (click)="onDivClick(ObjectID.piantinaChild5)"
     (mouseover)="onDivMouseOver(ObjectID.piantinaChild5)"> div 5</div>
