.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(9, 50px);
  height: 522px;
  grid-template-areas:
    'child1 child1 child3 child3 child4 child4'
    'child1 child1 child3 child3 child4 child4'
    'child1 child1 child3 child3 child4 child4'
    'child1 child1 child3 child3 child4 child4'
    'child1 child1 child3 child3 child5 child5'
    'child2 child2 child3 child3 child5 child5'
    'child2 child2 child3 child3 child5 child5'
    'child2 child2 child3 child3 child5 child5'
    'child2 child2 child3 child3 child5 child5';
}

#child1 {
  grid-area: child1;
}

#child2 {
  grid-area: child2;
}

#child3 {
  grid-area: child3;
}

#child4 {
  grid-area: child4;
}

#child5 {
  grid-area: child5;
}

.sfondoTradizionale {
  background-image: url("../../../documentation/PIANTINA.png");
  background-size: 100% 100%;
  position: center;
}


