<div class="container sfondoTradizionale">
  <div routerLink="/magazzino" routerLinkActive="active" id="child1" (mouseover)="onDivMouseOver(ObjectID.piantinaChild1)"></div>
  <div routerLink="/preparazione" routerLinkActive="active" id="child2" (mouseover)="onDivMouseOver(ObjectID.piantinaChild2)"></div>
  <div routerLink="/lavorazione" routerLinkActive="active" id="child3" (mouseover)="onDivMouseOver(ObjectID.piantinaChild3)"></div>
  <div routerLink="/finitura" routerLinkActive="active" id="child4" (mouseover)="onDivMouseOver(ObjectID.piantinaChild4)"></div>
  <div routerLink="/magazzinofinale" routerLinkActive="active" id="child5" (mouseover)="onDivMouseOver(ObjectID.piantinaChild5)"></div>
</div>
